{% extends "base.html.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

    <div class="row">

        <h1 style="text-align: center;margin-top: 2em;color: hsla(0, 0%, 0%, 0.25)">
            Thistle Framework
        </h1>

        <p style="text-align: center; color: hsla(0, 0%, 0%, 0.25)">
            {{ app.version }}
        </p>

        {{ dump(user) }}

    </div>

{% endblock %}

