{% extends "base.html.twig" %}

{% block title %}Home{{ parent() }}{% endblock %}

{% block content %}

    <div class="row">

        <h1 class="title"">
            Thistle Framework
        </h1>

        <p class="version">
            {{ app.version }}
        </p>

    </div>

{% endblock %}
